.digital-signature {
    .loanlist-operate {
        height: 100%;
        // margin-top: 10px;
        .ant-table-thead th{
            text-align: left;
        }
        .ant-table-tbody td {
            text-align: left;
        }
        .ant-tab-account{
            padding-left: 5px;
        }
        .ant-tab-account > .ant-tabs-nav{
            display: none !important;
        }
        .ant-tab-account .ant-input{
            background: none !important;
            border-bottom: 1px dotted !important;
            outline: none !important;
        }
        .ant-radio-custom label:nth-child(1){
           margin-right: 3rem;
        }
        .ant-radio-custom label > span:nth-child(2){
            padding-left: 1.5rem;
            font-weight: 500;
        }
        .ant-radio-checked .ant-radio-inner{
            border-color: #aaa !important ;
        }
        .ant-radio-custom .ant-radio-wrapper .ant-radio  .ant-radio-inner{
            width: 20px !important;
            height: 20px !important;
            border: 2px solid #aaa;
        }
        .ant-radio-custom .ant-radio-wrapper .ant-radio  .ant-radio-inner::after{
            top: 4px;
            left: 4px;
        }
        .ant-radio-checked .ant-radio-inner:after{
            background-color: #aaa;
        }
        .ant-radio:hover .ant-radio-inner {
            border-color: #aaa !important ;
          
        }
        .product-btn{
            display: flex;
            button{
                margin-right: 5px;
                border-radius: 5px;
            }
        }
    }
    .ant-table-row {
        height: 5vh !important;
    }
    .ant-table-thead th {
        text-align: left !important;
    }
    .ant-table-tbody td {
        text-align: left !important;
    }
    .loanlist {
        background: #fff;
        margin-top: 20px;
        height: calc(100vh - 290px);
        .ant-table-thead th{
            text-align: left;
        }
        .ant-table-tbody td {
            text-align: left;
        }
    }
    .status-btn {
        cursor: default; 
        border-radius: 50px;
        color: #fff;
        padding: 0px 15px;
        border: none;
        display:inline-block;
        width:150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            display: inline;
        }
    }
 

    .sign-btn {
        .active-btn {
            background-color: #1D4994;
            color: #fff;
        }
    }
    .product-input .ant-form-item .ant-form-item-label > label{
        font-weight: 500;
    }
}

.operate-signature {
    // max-width: 1440px;
    // margin: auto;
    padding: 0px 20px 20px 20px;
}

.attach-table {
    // .ant-pagination {
    // 	display: none;
    // }
    .ant-table-thead > tr > th {
        color: #1D4994;
    }
    .attach-btn {
        display: flex;
        align-items: center;
        // justify-content: center;
        svg {
            font-size: 20px;
        }
        .attach-more {
            margin-left: 30px;
        }
        .red {
            color: #B42E2E;
        }
        .green {
            color: #4DB769;
        }
    }
}
.tooltip {
    // margin-left: 5px;
    margin-top: 25px;
    cursor: pointer;
}
.tooltip-box{
    display: flex;
    align-items: center;
    
    .tooltip-item-desc{
        padding-right: 5px;
    }
}
.tooltip-oveflow{
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }

}
.custom-tooltip{
    width: 500px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 14px;
    margin-top: 30px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .otp-btn {
    float: right;
    background-color: #1D4994;
    border-color: #1D4994;
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 15px;
}
  .otp-btn:hover {
    background-color: #1D4994;
    border-color: #1D4994;
    color: #fff;
}
.back-btn {
    border-color: #1D4994;
    color: #1D4994;
    margin-bottom: 20px;
    margin-top: 15px;
    a {
        display: flex;
        align-items: center;
        .anticon {
            margin-right: 8px;
        }
    }
}
.ant-form-item-label > label {
    width: 100%;
}
.upload-mg-15 {
    margin-left: 15px;
}
.ant-upload-list-item {
    display: none !important;
}

.status-btn {
    cursor: default; 
    border-radius: 50px;
    color: #fff;
    padding: 0px 15px;
    border: none;
    display:inline-block;
    width:150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
        display: inline;
    }
}
.status-btn:hover {
    color: #fff;
}
.attach-upload-box{
    display: flex;
    justify-content: flex-end;  
    
    .attach-upload{
        background-color: #fff;
        display: inline-block;
        padding: 10px;
        box-shadow: 0 0.1px 0 rgb(0 0 0 / 0%), 
        0 0.2px 0 rgb(0 0 0 / 0%), 
        0 0.4px 0 rgb(0 0 0 / 0%), 
        0 0.6px 0 rgb(0 0 0 / 0%),
         0 0.9px 0 rgb(0 0 0 / 1%), 
         0 1.2px 0 rgb(0 0 0 / 1%),
          0 1.8px 0 rgb(0 0 0 / 1%),
           0 2.6px 0 rgb(0 0 0 / 1%),
            0 3.9px 0 rgb(0 0 0 / 1%), 
            0 7px 0 rgb(0 0 0 / 1%);
        border-radius: 5px;
    }
}
.btn-actionfile{
    text-align: center;
    cursor: pointer;
}
.pagination-custom{
    margin: 16px 0;
    text-align: right;
}
.ant-table-cell-ellipsis {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}
.ant-select-selection-placeholder{
    color: rgba(0, 0, 0, 0.85);
}

