
@import './common.scss';
.loan_info {
	margin: 20px 0 20px;
	padding-bottom: 20px;
	// box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
	.l-border {
		height: calc(100vh - 380px);
		overflow: auto;
	}
}
.loan_info_reigster {
	height: calc(100vh - 380px)
}
.loan-wrapper {
	.register-banner {
		background-repeat: no-repeat, repeat;
		background-size: cover;
		height: 100px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		div {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
		}
	}
	.l-loan-container {
		margin: 0 auto;
		padding-top: 30px;
		font-size: 14px;
		.expected-total-investment {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -15px;
			color: $red;
			font-size: 12px;
		}
		.warning-rate {
			font-size: 12px;
			position: absolute;
			color: red;
			right: 0;
		}
		.l-sider-total-investment {
			margin-top: 15px;
		}
		.ant-slider-mark-text {
			white-space: nowrap;
			&:nth-child(1) {
				transform: translateX(0) !important;
			}
			&:nth-child(2) {
				transform: translateX(-100%) !important;
			}
			top: -40px;
			color: $gray;
			font-size: 12px;
			min-width: fit-content;
		}
		.ant-slider-with-marks {
			margin-top: 20px;
		}
		.ant-slider-track, .ant-slider-dot-active{
			background-color: $green;
			border-color: $green;
		}
		.ant-slider:hover .ant-slider-track {
			background-color: $green;
		}
		.ant-slider .ant-slider-rail {
			background-color: #e1e1e1
		}
		.l-gray {
			color: $gray;
		}
		.l-row-title {
			margin-bottom: 17px;
		}
		.l-title {
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
		}
		.l-center {
			align-items: center;
		display: inline-flex;
		}
		.l-black {
			color: $black;
		}
		.l-red {
			color: $red;
		}
		.l-blue {
			color: $blue;
		}
		.l-green {
			color: $green;
		}
		.l-row-left, .l-row-right {
			padding: 0 20px;
		}
		.l-text-right {
			font-size: 12px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 26px;
		}
		.l-font-16 {
			font-size: 16px;
			color: $black;
			font-weight: 500;
		}
		.l-list-button button {
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.l-b-margin-20 {
			margin-bottom: 20px;
		}
		.l-b-margin-40 {
			margin-bottom: 40px;
		}
		.l-b-margin-10 {
			margin-bottom: 10px;
		}
		.l-b-margin-0 {
			margin-bottom: 0 !important;
		}
		.ant-btn-primary {
			background: transparent;
			border-color: #DFDFDF;
			color: $black;
			&.active {
				background: $green;
				border-color: $green;
				color: white;
			}
		}
		.l-error-message {
			margin-top: 20px;
			color: $red;
			text-align: center;
		}

		.l-btn-detail {
			background-color: #F7F7F7;
		}
		.ant-checkbox-checked .ant-checkbox-inner{
			background-color: #F6BB3B;
			border-color: #F6BB3B;
		}
		.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
			border-color: #F6BB3B;
		}
		.ant-radio-checked .ant-radio-inner,
		.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
			border-color: #F6BB3B;
		}
		.ant-radio-checked::after {
			border: #F6BB3B;
		}
		.ant-radio-inner::after {
			background-color: #F6BB3B;
		}
		.l-rules {
			padding: 0 10px;
			.l-rule {
				margin-bottom: 21px;
			}
			.l-rule:last-child {
				margin-bottom: 0px;
			}
			.l-description {
				max-height: 141px;
				border: 1px solid #DFDFDF;
				padding: 13px 20px;
				overflow-y: auto;
				margin-bottom: 21px;
			}
		}
		.ant-slider-dot {
			display: none;
		}
		.ant-slider-handle {
			background-color: #fff;
			border: 1px solid #bbb;
			border-radius: 4px;
			cursor: pointer;
			width: 24px;
			height: 24px;
			left: -10px;
			top: -50%;
			margin-top: 0;
			box-shadow: inset 0 0 1px #FFF, inset 0 1px 6px #ebebeb, 1px 1px 4px rgba(0,0,0,.1);
			&::after, &::before {
				content: '';
				position: absolute;
				width: 1px;
				height: 9px;
				background-color: #ddd;
				left: 12px;
				top: 6px;
			}
			&::after {
				left: auto;
				right: 12px;
			}
		}
		.l-font-bold {
			font-weight: 500;
		}
		.btn-register-loan {
			width: fit-content;
			padding: 4px 15px;
			color: #FFFFFF;
			background: $green;
			text-align: center;
			margin: 0px auto;
			cursor: pointer;
		}
		.ant-steps {
			width: 920px;
			margin: auto;
		}
		.ant-steps-item-wait, .ant-steps-item-active {
			.ant-steps-icon-dot {
				background: none !important;
				width: 10px;
				height: 10px;
				&::after {
				background: #FFFFFF !important;
				border: 1px dashed #DFDFDF !important;
				box-sizing: border-box !important;
				position: absolute;
				left: 0 !important;
				right: 0% !important;
				top: -5px !important;
				bottom: 0% !important;
				width: 16px !important;
				height: 16px !important;
				border-radius: 16px;
				}
			}
		}
		
		.ant-steps-item-active {
			.ant-steps-icon-dot {
			&::after {
					border: 4px solid #DC4C4C !important;
				}
			}
		}
		.ant-steps-item-finish {
			.ant-steps-icon-dot {
				&::after {
					background: url(../asset/images/solid.svg);
					background-size: 100% 100%;
					width: 16px;
					height: 16px;
					position: absolute;
					left: -2px !important;
					right: 0 !important;
					top: -5px !important;
					bottom: 0% !important;
					width: 16px !important;
					height: 16px !important;
					}
				}
		}
		.ant-steps-dot .ant-steps-item-icon, .ant-steps-dot.ant-steps-small .ant-steps-item-icon {
			left: -10px;
			margin-left: 50px;
		}
		.ant-steps-item-icon .ant-steps-icon {
			left: -10px;
		}
		.ant-steps-dot .ant-steps-item-tail, .ant-steps-dot.ant-steps-small .ant-steps-item-tail {
			left: -10px;
			&::after {
				background-color: transparent;
				// width: calc(100% - 30px);
				position: absolute;
				top: 0;
				left: 0px;
				width: 90%;
				height: 1px;
				background-image: linear-gradient(to right, #DFDFDF 50%, transparent 50%);
				background-size: 10px 100%;
				// height: 0;
				// border: 1px dashed #DFDFDF;
				// background-color: transparent;
			}
			margin: 0 0 0 60px;
		}
		.ant-steps-item-content {
			position: absolute;
			width: 200px;
			left: -50px;
			font-size: 16px;
		}
		.l-border{
			background: #FFFFFF;
			// border: 1px solid #DFDFDF;
			padding: 10px 0px;
			margin-bottom: 20px;
			.info-title {
				padding: 0px 20px 20px ;
				font-size: 16px;
				display: flex;
				font-weight: 600;
				>div {
					color: #B42E2E;
					white-space: nowrap;
				}
				.title-line {
					width: 100%;
					border-bottom: 1px solid #B42E2E;
					margin-bottom: 5px;
					margin-left: 10px;
				}
			}
			.content-title {
				font-weight: 600;
			}
			.suffix-style {
				color: #B42E2E;
				font-weight: 600;
			}
			input {
				border: none;
				border-bottom: 1px solid #d9d9d9;
				text-align: right;
			}
			.text-input-left {
				text-align: left;
			}
			input:focus {
				box-shadow: none;
			}
			.wattage {
				.ant-slider-mark-text {
					top: -35px;
				}
			}
			.ant-select-selector {
				border: none;
				border-bottom: 1px solid #d9d9d9;
				width: 100%;;
				input {
					border-bottom: none;
					text-align: left;
				}
			}
			.ant-picker {
				border: none;
				border-bottom: 1px solid #d9d9d9;
				width: 100%;;
				input {
					border-bottom: none;
					text-align: left;
				}
			}
			.ant-input-affix-wrapper {
				border: none;
				border-bottom: 1px solid #d9d9d9;
				input {
					border-bottom: none;
					// color: #B42E2E;
					// font-weight: 500;
				}
			}
			.related-person {
				> .ant-col {
					padding: 0px 20px;
				}
				.required-field {
					.ant-form-item-label > label::before {
						display: inline-block;
						margin-right: 4px;
						color: #ff4d4f;
						font-size: 14px;
						font-family: SimSun, sans-serif;
						line-height: 1;
						content: '*';
					}
				}
			}
		}
		.l-left-content, .l-right-content {
			width: 50%;
			padding: 10px;
		}
		.l-title {
			width: 100%;
			display: inline-flex;
			height: 26px;
		}
		.form-register {
			padding-bottom: 20px;
			.col-left {
				padding: 0 20px;
				.ant-form-item {
					margin-right: 15px;
				}
			}
			.col-right {
				padding: 0 20px;
				.ant-form-item {
					margin-left: 15px;
				}
			}
		}
		.ant-upload {
			background: rgba(77, 183, 105, 0.1);
			border-color: #1D4994;
			.ant-upload-text {
				color: $green !important;
			}
		}
		.attach-table {
			.ant-pagination {
				// display: none;
			}
			.ant-table-thead > tr > th {
				color: #1D4994;
			}
			.attach-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					font-size: 20px;
				}
				.attach-more {
					margin-left: 30px;
				}
				.red {
					color: #B42E2E;
				}
				.green {
					color: #4DB769;
				}
			}
		}
		.l-list-attachment {
			margin: 20px 0;
			.name {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			.close-icon {
				position: relative;
				.anticon-close {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
			}
		}
		.button-group {
			margin-top: 40px;
			padding-top: 20px;
			padding-left: 40px;
			button {
				border-radius: 10px;
				background-color: #c4c4c4;
				color: #000;
				padding: 7px 20px;
				font-weight: 600;
				margin-right: 20px;
				height: auto;
				border: none;
				&.active {
					background-color: #F6BB3B;
				}
			}
		}
	}
	.l-list-button-action {
		text-align: center;
		.ant-btn {
			margin: 0 10px;
		}
		.ant-btn-primary {
			background-color: $green;
			color: white;
		}
	}
}
.career-btn {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	div{
		font-weight: 600;
		border-radius: 10px;
		color: #000;
		margin-right: 10px;
		border: 1px solid #c4c4c4;
		background: #c4c4c4;
		padding: 7px 20px;
		height: auto;
		cursor: pointer;
		&.active {
			background-color: #F6BB3B;
			border: 1px solid #F6BB3B;
			color: #000;
		}
	}
}
.career-type-popup .ant-modal-footer {
	display: none;
}
.attach-title {
	height: 50px;
	background: #1D4994;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ant-modal-header {
	border-bottom: none;
	text-align: center;
	.ant-modal-title {
		color: $green;
	}
}
.ant-modal-body {
	padding-top: 0;
}
.ant-tabs-tab {
	padding: 8px 12px;
	margin: 0;
	&:hover {
		.ant-tabs-tab-btn  {
			color: $green;
		}
	}
}
.ant-tabs-tab-active, .ant-tabs-tab-active:hover {
	background: $green !important;
	.ant-tabs-tab-btn {
		color: white !important;
	}
}

.ant-tabs-nav .ant-tabs-ink-bar {
	display: none;
}
.ant-tabs-nav::before {
	border-color: $green;
}
.ant-table-summary {
	background-color: #F7F7F7;
}
.ant-pagination-item-active {
	border-color: $green;
	a {
		color: $green;
	}
}
.loan-btn-add-relative-persion {
	text-align: right;
}
.payment-plan-detail {
	.ant-table-tbody > tr > td,
	.ant-table-thead > tr > th {
		text-align: center;
	}
}
.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
	border-color: #fff
}

.attach-icon {
	height: 30px;
}

.red-popover .ant-popover-inner {
	max-width: 100px;
}
.attach-upload {
	.ant-upload {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}
.ant-popconfirm .ant-popover-inner-content {
	padding: 10px !important;
}

.modal-view-attachment {
	width: 90vw !important;
	max-width: 1024px;
	h4 {
		padding: 10px 30px;
		text-align: justify;
	}
	.detail-content {
		width: 100%;
		display: flex;
		height: 60vh;
		align-items: center;
		.left-btn {
			text-align: left;
			button {
				padding: 0;
				background: transparent !important;
				border: none;
				svg {
					font-size: 30px;
					color: #1D4994;
				}
			}
			width: 40px;
		}
		.right-btn {
			text-align: right;
			width: 40px;
		
			button {
				padding: 0;
				background: transparent !important;
				border: none;
				svg {
					font-size: 30px;
					color: #1D4994;
				}
			}
		}
		.center-content {
			width: 100%;
			height: 100%;
			.pdf-view {

			}
			.image-view {
				height: 100%;
				display: flex;
				margin: auto;
				justify-content: center;
				align-items: center;
				img {
					height: 80%;
					width: 90%;
					object-fit: contain;
				}
			}
		}
	}
	.ant-modal-footer {
		display: none;
	}
	.action-btn {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		> div:first-child{
			margin-right: 20px;
		}
		div {
			cursor: pointer;
		}
	}
}

.investment-amount-modal {
	width: 80% !important;
	max-width: 1024px;
	.invesment-content {
		padding-top: 20px;
		.filter-condiction {
			display: flex;
			justify-content: flex-end;
			.ant-select {
				margin-left: 10px !important;
				.ant-select-selector {
					min-width: 100px;
				}
			}
			
		}
		.ant-table {
			margin-top: 20px;
			.ant-table-thead tr th{
				background-color: #1D4994;
				color: #fff;
			}
			.ant-table-tbody > tr {
				> td:last-child {
					text-align: center;
				}
			}
			.ant-table-tbody > tr:hover td {
					background: #F6BB3B !important;
			}
			.ant-table-tbody > tr:nth-child(odd) {
				background: #DFE4E8;
			}
			.ant-table-tbody > tr:nth-child(even) {
				background: #EAEAEA;
			}
		}
		.ant-table-pagination.ant-pagination {
			// display: none;
		}
	}
	.ant-modal-close-x {
		display: none;
	}
}